{% extends "layout.twig" %}
{% block style_sheet %}
    <link href="../../Public/css/Article/lire_article.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="article_zone">
        <img src="../../media/image/article_image/{{article.image}}"/>
        <h3 class="h2">{{article.libelle}}</h3>
        {{article.article|raw}}
        <div class="border-top ">
            <small> Publié le {{article.date_derniere_modification}} par {{article.nom}} {{article.prenom}} </small>
        </div>
        <div class="border-top ">
            <h3>Donnez votre avis: </h3>
            <form id="form_post_commentaire" method="post" action="../../commentaire/envoyer">
                <input require type="number" name="id_article" value="{{article.id}}" id="article-id" class="d-none">
                {% if (user is defined and user == true) %}
                    <textarea require id="message" name="message"></textarea>
                    <input type="submit" class="button btn-primary">
                {% else %}
                    <textarea require readonly id="message" name="message"></textarea>
                    <input disabled type="submit" class="button btn-primary">
                {% endif %}
            </form>
        </div>
        <div class="d-none alert" id="alert_zone">
        </div>
        <div class="border-top ">
            <h3>Commentaires : </h3>
            <div id="zone_commentaires">
            </div>
        </div>
        
    <div>
{% endblock %}
{% block javascript_link %}
    <script src="../../Public/JS/Commentaire/add.js"></script>
    <script src="../../Public/JS/Commentaire/get.js"></script>
{% endblock %}
