{% extends "layout.twig" %}
{% block title %}
    {{title}}
{% endblock %}
{% block style_sheet %}
        <link href="../style/Article/liste.css" rel="stylesheet"/>
{% endblock %}
{# {% block identification %}
    {% if user.nom is defined %}
        <span class="fs-5 text-light text-center">{{user.prenom}} {{user.nom }}</span><br>
        <a href="../utilisateur/sedeconnecter" id="btn-sedeconnecter" class="btn btn-light text-center"> Se déconntecter </a>
    {% else %}
        <a href="../utilisateur/seconnecter" class="btn btn-light"> Se connecter</a>
        <a href="../utilisateur/sinscrire" class="btn btn-dark"> S'inscrire </a>
    {% endif %} #}
{% endblock %}
{% block content %}
    {% for article in articles %}
        <div class="border shadow row article">
            <img class="float-left article_image" src="../media/image/article_image/{{article.image}}" />
            <div class="col">
                <div class="fs-3 ">
                    <a class="text-primary" href="../article/lire/{{article.id}}">
                        <h3 class="card-title">{{article.libelle}}</h3>
                    </a>
                </div>
                <div class="fs-5 text-dark">
                
                    Par {{article.nom}} {{article.prenom}}
                
                </div>
                <div class="text-muted text-light">
                
                    {{article.date_derniere_modification|replace({" ":" à ", "-":" "})}}
                
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascript_link %}
{% endblock %}
