{% extends "layout.twig" %}
{% block title %}
    {{title}}
{% endblock %}
{% block style_sheet %}
<<<<<<< HEAD
        <link href="../Public/css/Article/liste.css" rel="stylesheet"/>
=======
        <link href="../style/Article/liste.css" rel="stylesheet"/>
>>>>>>> OCR5/master
{% endblock %}
{% block content %}
    {% for article in articles %}
        <div class="border shadow row article">
            <img class="float-left article_image" src="../media/image/article_image/{{article.image}}" />
            <div class="col">
                <div class="fs-3 ">
                    <a class="text-primary" href="../article/lire/{{article.id}}">
                        <h3 class="card-title">{{article.libelle}}</h3>
                    </a>
                </div>
                <div class="fs-5 text-dark">
                
                    Par {{article.nom}} {{article.prenom}}
                
                </div>
                <div class="text-muted text-light">
                
                    {{article.date_derniere_modification|replace({" ":" à ", "-":" "})}}
                
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript_link %}
{% endblock %}
