{% extends "layout.twig" %}
{% block style_sheet %}
    <link href="http://127.0.0.1/Projet%20OC5/style/article/lire_article.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="article_zone">
        <img src="http://127.0.0.1/Projet%20OC5/media/image/article_image/{{article.image}}"/>
        <h3 class="h2">{{article.libelle}}</h3>
        {{article.article|raw}}
        <div class="border-top ">
            <small> Publié le {{article.date_derniere_modification}} par {{article.nom}} {{article.prenom}} </small>
        </div>
        <div class="border-top ">
            <h3>Donnez votre avis: </h3>
            <form id="form_post_commentaire" method="post" action="http://127.0.0.1/Projet%20OC5/commentaires/envoyer">
                <input require type="number" name="id_article" value="{{article.id}}" id="article-id" class="d-none">
                <textarea require id="message" name="message"></textarea>
                <input type="submit" class="button btn-primary">
            </form>
        </div>
        <div class="d-none alert" id="alert_zone">
        </div>
        <div class="border-top ">
            <h3>Commentaires : </h3>
            <div id="zone_commentaires">
            </div>
        </div>
        
    <div>
{% endblock %}
{% block javascript_link %}
    <script src="http://127.0.0.1/Projet%20OC5/JS/add_commentaires.js"></script>
    <script src="http://127.0.0.1/Projet%20OC5/JS/load_com.js"></script>
{% endblock %}